<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DownloadUrl" value="http://downloads.sourceforge.net/mysqldrivercs/MySQLDriverCS-n-EasyQueryTools-4.0.1-DotNet2.0.exe?modtime=1184281287!big_mirror=0"/>
    <add key="DownloadFileName" value="MySQLDriverCS-n-EasyQueryTools-4.0.1-DotNet2.0.exe"/>
    <add key="DownloadDirectory" value="DownLoads"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
